.home-logout-btn {
	position: fixed;
	height: 5rem;
	width: 5rem;
	bottom: 4rem;
	right: 20px;
	border: none;
	border-radius: 50%;
}

.video-container {
	height: 100vh;
	width: 100vw;
	background-color: black;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}
input[type="file"] {
	width: 6rem;
	border: none;
	outline: none;
	position: fixed;
	bottom: 13rem;
	right: 20px;
}
