.profile-cont{
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
     width: 100vw;
}
.profile-cont img{
    margin-bottom: 2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
