.video-card {
	height: 100%;
	width: 35%;
	margin: auto;
	scroll-snap-align: start;
	position: relative;
}

.video-card-video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 1;
	position: absolute;
}

.video-card-username {
	font-weight: 800;
	color: white;
	position: absolute;
	bottom: 10rem;
	left: 12px;
	z-index: 2;
}

.video-card-music {
	position: absolute;
	bottom: 9rem;
	width: 50%;
	display: flex;
	color: white;
	left: 12px;
	z-index: 2;
}
.video-card-comment {
	color: #fff;
	font-size: 2.5rem;
	position: absolute;
	top: 19rem;
	right: 20px;
	z-index: 2;
}
.video-card-like {
	color: red;
	font-size: 2.5rem;
	position: absolute;
	top: 22rem;
	right: 20px;
	z-index: 2;
}

.video-card-comment-box {
	height: 40%;
	width: 100%;
	background-color: white;
	position: absolute;
	bottom: 0;
	z-index: 2;
}
.actual-comments {
	height: 90%;
}
.comment-form {
	height: 10%;
	display: flex;
}
.comment-form input {
	width: 85%;
	height: 100%;
}
.comment-form button {
	width: 15%;
	height: 100%;
	border: none;
	color: #3498db;
}

.post-user-comment {
	display: flex;
	align-items: center;
}

.post-user-comment img {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
}
.post-user-comment div {
	margin-top: 4px;
}
.post-user-comment img {
	margin-left: 10px;
}
.post-user-comment div {
	margin-left: 20px;
}

